body{
  font-family: "Arial", "Meiryo", sans-serif;
  font-size: 20px;
  text-align: center;
}
.blue{color: skyblue;}

.pink{color: rgb(255,192,203);}

h1{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 1px gray;
  border-bottom: solid 3px;
}

#basic p {
  font-weight: bold;
}